# ======================================================================== #
# Configuration instructions                                               #
#       Minute  : 0-59                                                     #
#       Hour    : 0-23                                                     #
#       Day     : 1-31                                                     #
#       Month   : 1-12                                                     #
#       Week    : 1-7                                                      #
#                                                                          #
# Special characters                                                       #
#   Asterisk(*) : Represents all possible values.                          #
#   Comma(,)    : Multiple values can be separated by commas,              #
#                 but no Spaces can be placed on either side of the comma. #
#                                                                          #
# Note                                                                     #
#   leading zeros are not allowed in Numbers                               #
# ======================================================================== #

# Minute Hour Day Month Week Module Options
1 2 3 4 5 test -d $(date +%Y%m%d) -c 1 -s 1
#1    2   3 4,4,4   5,55 test1 -d 20190101 -c 1 -s 1